.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.block_info {
  font-family: "Glegoo", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #112d4e;
}

.title {
  font-family: "Glegoo", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #112d4e;
}

.section {
  font-family: "Glegoo", serif;
  font-weight: 600;
  color: #112d4e;
  margin: 10px 0 10px 0;
}

.network_select {
  display: flex;
  align-items: center;
}

.network_text {
  margin-right: 20px;
}

.table_info {
  font-family: "Glegoo", serif;
  margin-top: 20px;
}

.label_item {
  padding-right: 30px;
  padding-bottom: 5px;
  font-weight: 600;
}

.trnx_container {
  height: 200px;
  overflow-y: scroll;
}
